@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
   background-color: #191924; 
   height: 100vh; /*faz com que a sessao do site oculpe a tela inteira*/
   font-family: Lato;
   
}
.title{
    color: rgb(133, 218, 192);
}
header{
    background-color: #1e1e2c;
    display: flex; /*deixar os elementos um ao lado do outro*/
    justify-content: flex-start;
    align-items: center; /*alinha os itens na vertical*/
    gap: 870px;
    flex-wrap: wrap; /*faz com que a pagina/sessao se adapte ao tamanho da janela*/
    padding: .8rem;
    min-height: 45px;
    border-radius: 60px;
    margin: 35px auto 35px auto; /* top | right | bottom | left */
    max-width: 2700px;
    box-shadow: 0 7px 19px rgba(255, 255, 255, 0.12);
}
.box-img-header{
    padding-left: 30px;
    height: 100%;   
}
.img-header{
    height: 100%;
    max-width: 100px;
    
}
nav{
    padding-right: 30px;
    align-items: center;
    display: flex;
    gap: 5rem; /*da um espaço entre os itens*/
    font-size: 35px;
    flex-wrap: wrap;
}
.nav-links{
    text-decoration: none; /*tirar o sublinhado dos itens*/
    color: rgb(133, 218, 192);
    flex-wrap: wrap;
}
.nav-links:hover{
    color: rgb(56, 90, 80);
}
.nav-btn-actions{
    display: flex;
    gap: 1rem;
    
}
button{
    padding: .7rem;
    font-size: 25px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor:pointer;
}
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section{
    padding: 5rem;
    font-style: lato;
    color: white;
}

.main-img{
    border-radius: 50%;
}
.first-section{
    flex-wrap: wrap;
    display: flex;
    gap: 15rem;
    align-items: center;
    min-height: 1035px;    
}
.first-section > div{
    font-size: 30px;
    min-width: 300px;
}
.second-section{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 4rem;
    align-items: center;
    min-height: 350px;
    margin: 40px;
    font-size: 30px;
}
ul{
    letter-spacing: 2px;
    gap: 8rem;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.title{
    margin-bottom: 20px;
}
.third-section{ /*seção completa*/
    min-height: 1035px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    font-size: 22px;
    margin: 35px auto 35px auto; /* top | right | bottom | left */
}
.third-section > div{ /*texto*/
    flex-direction: column;
    max-width: 800px;
    line-height: 1.5;
}
.quem-sou-eu { /*imagem*/
    border-radius: 50%;
}
footer {
    background-color: #141a33; 
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    font-size: 25px;
    background-color: #00000021;
    padding: 5rem;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

footer .title {
    font-size: 45px;
    margin-bottom: 40px;
}

footer .icones {
    display: flex;
    justify-content: center;
    gap: 45px; /* espaçamento entre ícones */
    margin-top: 10px;
}

footer a svg {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

footer a:hover svg {
    transform: scale(1.15); /* leve zoom ao passar o mouse */
    opacity: 0.8;
}

#minha-lista-de-projetos{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    min-height: 450px;

}
#minha-lista-de-projetos a{
    text-decoration: none;
    color: grey;
}
#minha-lista-de-projetos a:hover {
    color: white;
    transform: scale(1.5); /* leve zoom ao passar o mouse */
    opacity: 0.8;
}

.title-projetos{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(133, 218, 192);
    font-size: 35px;
}
